/*
1. convert field wrap bg to white
2. convert field bg to transparent
3. set labels z-index: 1;  and  field to z-index: 2; to make a click on label activate field
4. handle label transition / location change (animation addded)
*/

input[type="text"].form-control, input[type="email"].form-control {
  padding: 10px 15px 0px;
  font-size: 16px !important;
  background: transparent;
  z-index: 2;
  position: relative;
}

.wpcf7-form-control-wrap {
  background: #fff;
  height: 100%;
  display: block;
}

label {
  transform: translateY(-125%);
  z-index: 1;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #9b9b9b;
  line-height: 42px;
  position: absolute;
  padding: 0 17px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form-control {
  padding: 1rem!important;
}

.form-group.active>label {
  transform: translateY(-160%);
  color: #9b9b9b;
  font-size: 12px;
  padding: 0 16px;
}

/**/

.body-triana {
  background-color: #e7edf3;
  font-family: 'Roboto', sans-serif;
}

.nav-filter {
  background-color: #00799c;
}

.nav-filter:hover {
  background-color: #ff2782;
  transition: .5s ease-in-out;
}

address.address-edificio {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  background: #ff2782;
  width: 55%;
  text-align: center;
  padding: 0.2em 0.3em;
}

img.img-banner:hover {
  filter: grayscale();
  transition: .8s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.table {
  border-radius: .025rem!important;
}

.lb-data .lb-number {
  display: none!important;
}

.btn-primary {
  color: #fff;
  background-color: #00799c;
  border-color: #00799c;
}

.btn-primary:active, .btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: #00a2b5;
  ;
  border-color: #00a2b5;
  ;
}

.carousel-item {
  transition: .5s ease-in-out;
}

.carousel-item:hover {
  filter: brightness(80%);
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #008fa3;
}

a.text-triana {
  color: #00799c!important;
  font-size: 1.4em;
  font-weight: 700;
}

h2.text-triana {
  color: #00799c!important;
}

.bg-triana {
  background-color: #00799c!important;
}

/* 5 columnas */

/**/

/*!
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.3.2
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Hover.css Copyright Ian Lunn 2017. Generated with Sass.
 */

/* 2D TRANSITIONS */

/* Float */

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Underline From Right */

.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #008fa3;
  height: 6px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
  left: 0;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: auto;
  left: 10%;
  bottom: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.facebook-icon a {
  background-color: #3b5998;
  color: white;
  border-radius: 50%;
  padding: 8px 15px;
}

.facebook-icon a:hover {
  color: white;
}

.instagram-icon a {
  background-color: #3f729b;
  color: white;
  border-radius: 50%;
  padding: 8px 13px;
}

.instagram-icon a:hover {
  color: white;
}

.bg-triana-light {
  background-image: url(../img/banner/crossword/crossword.png);
  background-repeat: repeat;
  background-size: auto;
}

.btn-secondary-triana {
  background-color: #ff2782;
  border-color: #ff2782;
  color: white;
}

.btn-secondary-triana:hover {
  background-color: #da246f;
  border-color: #da246f;
  color: white;
}

.card {
  border: none;
}

.cta {
  overflow: hidden;
  background: #ff2782;
  background: -webkit-linear-gradient(to right, #00799c, #ff2782);
  background: linear-gradient(to right, #00799c, #ff2782);
  background-size: cover;
  padding: 80px 0;
}

/* media queries */

@media (min-width: 414px) and (max-width: 769px) {
  .table {
    font-size: 14px;
  }
  .logo-brand {
    width: 80%;
  }
  .btn-triana {
    width: 100%;
  }
  address.address-edificio {
    width: 100%;
  }
}